* {
  margin: 0;
  padding: 0;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 4px solid rgb(70, 77, 70);
  background-color: blue;
}
nav ul {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}
nav ul li {
  list-style: none;
  /* margin: 10px 5px; */
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.9s;
}
nav ul li a:hover {
    background-color: red;
    color: black;
    border-radius: 6px;
}

.logo h3 {
  font-size: 40px;
  color: white;
  margin-left: 50px;
} 

/* home banner design */
.home_banner {
  background-image: url('/imge/website\ banner.jpg');
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_banner  i {
  color: red;
  background-color: green;
  font-size: 25px;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  
}
.home_banner input {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  padding-left: 10px;
}