* {
  margin: 0;
  padding: 0;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 4px solid rgb(70, 77, 70);
  background-color: blue;
}
nav ul {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}
nav ul li {
  list-style: none;
  /* margin: 10px 5px; */
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.9s;
}
nav ul li a:hover {
  background-color: red;
  color: black;
  border-radius: 6px;
}

.logo h3 {
  font-size: 40px;
  color: white;
  margin-left: 50px;
}

/* home banner design */
.home_banner {
  background-image: url("/imge/website\ banner.jpg");
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_banner i {
  color: red;
  background-color: green;
  font-size: 25px;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.home_banner input {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  padding-left: 10px;
}
/* imge section design  */
.imge_section {
  padding: 100px 0;
  background: rgb(122, 122, 226);
}
.img_container {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.video_tittle h3 {
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.page_tittle h4 {
  color: white;
}
.page_tittle span {
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}
.image_main_parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 1250px;
  margin: 0 auto;
}

.image_card_item {
  height: 250px;
}

.image_card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imge_info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
  font-size: 18px;
}